    body, *{ font-family: '맑은 고딕',Malgun Gothic,dotum,sans-serif; font-size: 15px; color: #565656; }
	*{ margin: 0; padding: 0;}
	img{ border:0;}
	.wrap{ width:960px; overflow: hidden;}
	.job_intro{ padding: 30px 0 30px 15px;}
	.wrap h1{ color: #565656; font-size: 32px; font-weight: normal; text-align: center; background: url(https://www.saraminimage.co.kr/dym_images/dym3_0/_service/bullsone/img/bg_h1.gif) center center no-repeat;}
	.wrap h2{ color: #bebebe; font-size: 28px; font-weight: normal; text-align: center;}
	.bi{ text-align: center; margin: 30px 0;}
	.tabs {width: 960px;margin: 0;padding: 0;list-style-type: none; border-bottom: 1px solid #ddd; padding: 0 40px; }
	.tabs li {position: relative;z-index: 1; text-align: center;float: left; margin: 0 12px;}
	.tabs li a {display: block;position: relative; outline: none; text-decoration: none; color: #999; font-weight: bold; padding: 10px 10px 18px; }
	.tabs li a:lang(en){ letter-spacing: 0px;}
	.tabs li a:hover { color: #565656;}
	.tabs li.active {z-index: 3;background: url(tab3_act_left.gif) no-repeat left top;font-weight: bold;}
	.tabs li.active a {background: url(tab3_act_right.gif) no-repeat right top; color: #565656;border-bottom: 3px solid #ff6863;}
	.tabs li.active a:hover {text-decoration: none; }
	div.topicArea {position: relative;z-index: 2;overflow: auto; padding: 30px 50px;background-color: #f5f6fa; color: #888; letter-spacing: -1px; }
	div.topicArea p {margin: 0 0 1em;}
	div.topicArea div.topic {padding: 1em 0; display: none;}
	div.topicArea div.topic strong{ line-height: 28px;}
	.tbl_type{ margin-top: 24px;}
	.tbl_type tr th{ background: #fff;border-bottom: 10px solid #f5f6fa; height: 60px; line-height: 22px; font-size: 14px;}
	.tbl_type tr td{ line-height: 26px;border-bottom: 10px solid #f5f6fa; vertical-align: middle; padding: 0 0 0 20px; margin: 0; font-size: 14px;}

	/* --- clearfix --- */
	.clearFix:after {content:'';display: block;height: 0;clear: both;visibility: hidden;}
	.clearFix {min-height: 1px;}
	